/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
}

body{
	font-family:Avenir, Verdana, sans-serif;
	line-height:1.6;
	margin:40px auto;
	max-width:900px;
	padding:20px;
	color:#222;
}

/* TEXT */

p{
	margin-bottom:12px;
	width:100%;
}

/* CODE */

code{
	font-family:Menlo,monospace;
	font-size:90%;
	color:#777;
}

/* LIST */

ul{
	width:100%;
	margin-bottom:18px;
}

li{
	margin-bottom:6px;
}

/* HEADINGS */

h1,h2,h3,h4{
	font-weight:400;
	font-family:Cousine,Verdana,sans-serif;
}

h1{
	font-size:42px;
	text-align:center;
	margin-bottom:10px;
}

h1+p { 
	font-style: italic;
	font-size: 110%;
	text-align: center;
	width: 100%;
}

h2{
	font-size:18px;
	color:#a00;
	margin-top:30px;
	margin-bottom:10px;
	border-bottom:1px solid #eee;
	padding-bottom:4px;
}

h3{
	font-size:16px;
	margin-top:10px;
	margin-bottom:4px;
}

/* LINKS */

a{
	color:inherit;
	text-decoration:none;
}

a:hover{
	color:#39f;
}

/* CONTACT */

#webaddress {
	margin-top: 1em;
	text-align: center;
	color: #888;
	font-family: Menlo,monospace,sans-serif;
	font-size: 90%;
}

#webaddress a{
	text-decoration:none;
}

/* EMPHASIS */

em{
	font-style:italic;
	font-weight:600;
}

strong{
	font-weight:600;
}

/* MOBILE */

@media only screen and (max-width:600px){

body{
	padding:15px;
}

h1{
	font-size:34px;
}

}
